# Data Loading, Storage

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [ ]:
# You have to upload the data by using the Files function on your dashboard

## Reading and Writing Data in Text Format

two methods:
- *read_csv*: Read a comma-separated values (csv) file into DataFrame. Also supports optionally iterating or breaking of the file into chunks.
- *to_csv*: Write object to a comma-separated values (csv) file.

### Reading Text Files

In [5]:
df= pd.read_csv("5-Data_visualization/data/winemag-data_first150k.csv", sep=',')
df

,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [3]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
 !cat "ex1.csv"
 #!cat "examples/ex1.csv"

define separator value and header

In [4]:
# define the table sepator value

df = pd.read_csv("5-Data_visualization/data/winemag-data_first150k.csv", sep='\t')
df # in questo caso se il separatore era una virgola , quindi il risultato cambia nettamente

       id,country,description,designation,points,price,province,region_1,region_2,variety,winery
0       0,US,"This tremendous 100% varietal wine hails...
1       1,Spain,"Ripe aromas of fig, blackberry and ca...
2       2,US,"Mac Watson honors the memory of a wine o...
3       3,US,"This spent 20 months in 30% new French o...
4       4,France,"This is the top wine from La Bégude,...
...                                                   ...
150930  150925,Italy,"Many people feel Fiano represent...
150931  150926,France,"Offers an intriguing nose with ...
150932  150927,Italy,"This classic example comes from ...
150933  150928,France,"A perfect salmon shade, with sc...
150934  150929,Italy,"More Pinot Grigios should taste ...

[150935 rows x 1 columns]

In [5]:
# define if the table header exists 

df = pd.read_csv("5-Data_visualization/data/winemag-data_first150k.csv", header=None)
df

/var/folders/zk/y_05r4dd4q51x5hx9n0nwwk80000gn/T/ipykernel_1733/956745932.py:3: DtypeWarning: Columns (0,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("5-Data_visualization/data/winemag-data_first150k.csv", header=None)

,0,1,2,3,4,5,6,7,8,9,10
0,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
3,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
4,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
...,...,...,...,...,...,...,...,...,...,...,...
150926,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150927,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150928,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150930,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [ ]:
 !cat "ex2.csv"

In [ ]:
pd.('ex2.csv', sep=',', header=None)

define column name and/or index name

In [ ]:
# define column name

pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

In [9]:
# define index name

names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

you can skip a list of row

In [ ]:
!cat "ex4.csv"

In [ ]:
pd.read_csv('ex4.csv', sep=',')

In [ ]:
# you can skip a list of row
pd.read_csv('ex4.csv', skiprows=[0, 2, 3])

In [ ]:
!cat ex5.csv

In [11]:
result = pd.read_csv('ex2.csv')
result

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [10]:
None; np.nan

nan

In [12]:
pd.isnull(result)

       1      2      3      4  hello
0  False  False  False  False  False
1  False  False  False  False  False

define *na_values*

In [15]:
result = pd.read_csv('ex5.csv', na_values=['NULL', 'one'])
result

  something  a   b     c   d message
0       NaN  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [14]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ex5.csv', na_values=sentinels)
#pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### Reading Text Files in Pieces

In [ ]:
result = pd.read_csv('ex6.csv')
result

Read only a fixed number of rows

In [16]:
pd.read_csv('5-Data_visualization/data/winemag-data_first150k.csv', nrows=5)

,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Read Text Files in chunks

In [17]:
chunker = pd.read_csv('5-Data_visualization/data/winemag-data_first150k.csv', chunksize=1000)
chunker

In [20]:
chunk = next(chunker)
chunk.head(5)

,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
2000,2000,Italy,This wine has an unusual combination of sweet ...,Rocche di Castelletto,88,75.0,Piedmont,Barolo,NaN,Nebbiolo,Cascina Chicco
2001,2001,France,"This rich wine has both open, ripe black fruit...",NaN,88,NaN,Bordeaux,Saint-Émilion,NaN,Bordeaux-style Red Blend,Château de Fonbel
2002,2002,France,"This wine is already soft, warm and attractive...",NaN,88,15.0,Bordeaux,Côtes de Bourg,NaN,Bordeaux-style Red Blend,Château Fleur de Plaisance
2003,2003,France,"Firm and dry, it's packed with as much tannin ...",NaN,88,22.0,Bordeaux,Blaye Côtes de Bordeaux,NaN,Bordeaux-style Red Blend,Château Gauthier
2004,2004,France,This super-rich wine is dominated by ripe Merl...,NaN,88,35.0,Bordeaux,Médoc,NaN,Bordeaux-style Red Blend,Château Haut Canteloup

In [21]:
for chunk in chunker:
  print("chunk size: {}".format(chunk.shape))
  break

chunk size: (1000, 11)

In [ ]:
# tot = pd.Series([], dtype=float)
# for piece in chunker:
#     tot = tot.add(piece['key'].value_counts(), fill_value=0)

# tot = tot.sort_values(ascending=False)

### Writing Data to Text Format

In [38]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [39]:
data.iloc[0,1] = 999

In [40]:
data

  something    a   b     c   d message
0       one  999   2   3.0   4     NaN
1       two    5   6   NaN   8   world
2     three    9  10  11.0  12     foo

In [31]:
data.to_csv('out.csv',index=False)

In [33]:
pd.read_csv('out.csv', sep=',')

  something    a   b     c   d message
0       999  999   2   3.0   4     NaN
1       two    5   6   NaN   8   world
2     three    9  10  11.0  12     foo

In [34]:
!cat out.csv

something,a,b,c,d,message
999,999,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [35]:
data.to_csv('out.csv', index=False, sep='#')

In [36]:
pd.read_csv('out.csv', sep=';')

  something#a#b#c#d#message
0          999#999#2#3.0#4#
1          two#5#6##8#world
2    three#9#10#11.0#12#foo

In [37]:
!cat out.csv

something#a#b#c#d#message
999#999#2#3.0#4#
two#5#6##8#world
three#9#10#11.0#12#foo

### Reading and Writing Microsoft Excel Files

Read option 1: Using *ExcelFile* class

In [ ]:
#xlsx = pd.ExcelFile('examples/ex1.xlsx')
xlsx = pd.ExcelFile('ex1.xlsx')

In [ ]:
xlsx

In [ ]:
pd.read_excel(xlsx, 'Sheet1')

In [7]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 4.1 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.1.1
[notice] To update, run: python -m pip install --upgrade pip

Read option 2: Using *read_excel* method

In [11]:
frame = pd.read_excel('Calcola_Ore.xlsx', 'Foglio1')
frame

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,data inizio,data fine,DIFF in min,ORE,EUR
4,NaN,NaN,2023-04-18 08:30:00,2023-04-18 17:30:00,540,9,98.982
5,NaN,NaN,2023-04-21 08:30:00,2023-04-21 12:30:00,240.0,4.0,43.992
6,NaN,NaN,NaN,NaN,0,0,0
7,NaN,NaN,NaN,NaN,0,0,0
8,NaN,NaN,NaN,NaN,0,0,0
9,NaN,NaN,NaN,NaN,0,0,0
10,NaN,NaN,NaN,NaN,0,0,0
11,NaN,NaN,NaN,NaN,0,0,0
12,NaN,NaN,NaN,NaN,0,0,0
13,NaN,NaN,NaN,NaN,0,0,0
14,NaN,NaN,NaN,NaN,0,0,0
15,NaN,NaN,NaN,NaN,0,0,0
16,NaN,NaN,NaN,NaN,0,0,0
17,NaN,NaN,NaN,NaN,0,0,0

Write option 1: using *ExcelWriter* object

In [ ]:
writer = pd.ExcelWriter('ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

Write option 2: using *to_excel* method

In [ ]:
frame

In [ ]:
frame.to_excel('ex2_out.xlsx')

In [ ]:
!rm examples/ex2.xlsx

### Optional: Working with Delimited Formats

In [ ]:
!cat ex7.csv

In [ ]:
import csv
f = open('ex7.csv')

reader = csv.reader(f)

In [ ]:
for line in reader:
    print(line)

In [ ]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [ ]:
header, values = lines[0], lines[1:]

In [ ]:
values

In [ ]:
header

In [ ]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

## Optional

In [ ]:
with open('ex3.txt', 'r') as f:
  lines = f.readlines()
lines

In [ ]:
columns = [val.strip() for val in lines[0].split(' ') if val != '']
columns

In [ ]:
data = []
for row in lines[1:]:
  res = [val.strip() for val in row.split(' ') if val != '']
  data.append(res)

In [ ]:
data

In [ ]:
columns

In [ ]:
columns.insert(0, 'index')
columns

In [ ]:
ds = pd.DataFrame(data, columns=columns)
ds

In [ ]:
ds.set_index('index')