# Getting started with Pandas

1. Official Pandas tutorial (https://pandas.pydata.org/)
2. Pandas is one of the most used library for data science

In [1]:
import pandas as pd
import numpy as np

Pandas has two main data structures:

1.Series

2.Dataframe

In [ ]:
from pandas import Series, DataFrame

## Introduction to pandas Data Structures

## Series
1. Sequence of values similar to numpy types
2. Associated to data labels

In [2]:
obj = pd.Series([4, 7, -5, 3])
obj
#la serie è una collezione di elementi  che assomiglia ad un dict

0    4
1    7
2   -5
3    3
dtype: int64

- Left side represents the index (data labels)

- Right side represents the data

In [3]:
obj.values

array([ 4,  7, -5,  3])

In [4]:
obj.index  # like range(4)

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

We can associate a label to each data point

In [6]:
obj[1]

7

In [7]:
obj[1]=4

In [8]:
obj[1]

4

In [7]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [12]:
obj2['d']

4

In [11]:
obj2[0] # funziona in ogni caso

4

In [13]:
obj2['a']

-5

In [14]:
obj2[2]

-5

In [8]:
obj2[:2]

d    4
b    7
dtype: int64

In [12]:
obj2[-2:] # i penultimi due

a   -5
c    3
dtype: int64

In [13]:
obj2['a':]

a   -5
c    3
dtype: int64

In [18]:
obj2['a':'c']

a   -5
c    3
dtype: int64

In [19]:
obj2['d':'c']

d    4
b    7
a   -5
c    3
dtype: int64

### Numpy-like operations
1. Filtering with a boolean array
2. Scalar multiplication
3. Applying math functions

They will preserve the index-value link

In [ ]:
obj2['d'] = 6
obj2

In [ ]:
obj2[['c', 'a', 'd','d','a']]

In [ ]:
obj2>2

In [20]:
selezione = obj2[obj2 > 2]
selezione

d    4
b    7
c    3
dtype: int64

### Math operations

Element wise casting 

Given $ X = \left[ x_1 \cdots x_n \right] $ then:<br> $ X * 2  = \left[ 2 x_1  \cdots 2{x_n} \right]
$
 <br> $
e^X = \left[ e^{x_1} \cdots e^{x_n} \right]
$

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

- Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping of index values to data values.
- You might use a dict.

In [14]:
display(
  obj2.to_dict(),
  obj2.to_dict().keys(),
  obj2.to_dict().values())

# Recall obj2 = pd.Series([6, 7, -5, 3], index=['d', 'b', 'a', 'c'])

{'d': 4, 'b': 7, 'a': -5, 'c': 3}

dict_keys(['d', 'b', 'a', 'c'])

dict_values([4, 7, -5, 3])

In [18]:
'b' in obj2 # controllo se un ele è nella serie

True

In [23]:
'f' in obj2

False

### Create a Series from a dictionary

In [24]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [25]:
float_serie = obj3.astype('float')
float_serie

Ohio      35000.0
Texas     71000.0
Oregon    16000.0
Utah       5000.0
dtype: float64

In [26]:
obj3.dtype

dtype('int64')

In [27]:
type(obj3)

pandas.core.series.Series

In [ ]:
obj3['Ohio']

- The index in the resulting Series will have the dict's keys in sorted

- Force order of the index

In [28]:
states = ['Ohio','California','Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

Ohio          35000.0
California        NaN
Oregon        16000.0
Texas         71000.0
dtype: float64

In [29]:
pd.isnull(obj4)

Ohio          False
California     True
Oregon        False
Texas         False
dtype: bool

In [30]:
pd.notnull(obj4)

Ohio           True
California    False
Oregon         True
Texas          True
dtype: bool

In [31]:
obj4.isnull()

Ohio          False
California     True
Oregon        False
Texas         False
dtype: bool

### Use alignment of indexes for some operations

In [32]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [33]:
obj4

Ohio          35000.0
California        NaN
Oregon        16000.0
Texas         71000.0
dtype: float64

In [34]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [35]:
obj4.name = 'population' # nome alla serie
obj4

Ohio          35000.0
California        NaN
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [36]:
obj4.index.name = 'state' # nome agli indici

In [37]:
obj4

state
Ohio          35000.0
California        NaN
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [38]:
obj

0    4
1    4
2   -5
3    3
dtype: int64

In [39]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    4
Jeff    -5
Ryan     3
dtype: int64

In [40]:
obj10 = pd.Series([4,7,-5,3], index = ['Bob', 'Steve', 'Jeff', 'Ryan'])
obj10

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

## DataFrame
1. Represent a rectangular table
2. Ordered collection of columns
3. Each column could have a different type (i.e., numeric, string, boolean, etc.)
4. Dataframe has indexes on columns and rows

In [21]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [42]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

The head method selects only the first five rows (good for large datasets)

In [ ]:
frame.shape

In [44]:
frame.head(3) # default: 5

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7
2  Ohio  2002  3.6

In [45]:
frame.tail(3)

    state  year  pop
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [46]:
frame.sample(3) # default: 1, estrae a caso una riga dal dataset

    state  year  pop
2    Ohio  2002  3.6
4  Nevada  2002  2.9
1    Ohio  2001  1.7

In [47]:
frame.columns

Index(['state', 'year', 'pop'], dtype='object')

In [48]:
frame.index.values

array([0, 1, 2, 3, 4, 5], dtype=int64)

If you specify a sequence of columns, the DataFrame’s columns will be arranged in that order

In [49]:
matrix = np.arange(4).reshape(2,-1)
matrix

array([[0, 1],
       [2, 3]])

In [50]:
table = pd.DataFrame(matrix, columns=['col1', 'col2'], index=['row1', 'row2'])
table

      col1  col2
row1     0     1
row2     2     3

In [22]:
data

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [24]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [27]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [28]:
dato = np.array([[1,2,3],[4,5,6]])
dato

array([[1, 2, 3],
       [4, 5, 6]])

In [32]:
frame = pd.DataFrame(dato, columns=['a','s','k'],index=['one','two'])
frame

     a  s  k
one  1  2  3
two  4  5  6

In [34]:
frame.index

Index(['one', 'two'], dtype='object')

In [56]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

A column in a DataFrame can be retrieved as a Series either by dict-like notation or by attribute

In [35]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [36]:
type(frame2['state']) # sia le righe che le  colonne sono una Serie

pandas.core.series.Series

In [60]:
type(frame2)

pandas.core.frame.DataFrame

In [61]:
frame2.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [62]:
display(
  frame2.year, '---',
  frame2['year'])

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

'---'

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

Rows can also be retrieved by position or name with the special loc attribute

##  Filtrare i DataFrame

In [63]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [66]:
frame2['year'][0] # or frame2.year[0]

2000

In [67]:
frame2.loc['three'] # NOT work frame2['three'] --> [] takes strings only as columns. Si usa per un indice esplicito

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [68]:
type(frame2.loc['three'])

pandas.core.series.Series

In [69]:
frame

   a  s  k
0  1  2  3
1  4  5  6

### Indexing, Selection, and Filtering

- *loc*: Access a group of rows and columns by label(s) or a boolean array.
- *iloc*: Purely integer-location based rows and columns indexing for selection by position.
- [...]: Access rows by integer or labels, or access columns with labels(no slice for columns in [...]).

columns can be always omitted.

In [40]:
data = pd.DataFrame(np.arange(20).reshape((4, 5)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['zero', 'one', 'two', 'three', 'four'])
data

          zero  one  two  three  four
Ohio         0    1    2      3     4
Colorado     5    6    7      8     9
Utah        10   11   12     13    14
New York    15   16   17     18    19

In [41]:
data[:2] # con gli slicing fornisce le righe

          zero  one  two  three  four
Ohio         0    1    2      3     4
Colorado     5    6    7      8     9

In [76]:
data.loc['Ohio':'Utah',"three"]

Ohio         3
Colorado     8
Utah        13
Name: three, dtype: int32

#### columns indexing

In [42]:
data[0:1]

      zero  one  two  three  four
Ohio     0    1    2      3     4

In [43]:
data[['one']]

          one
Ohio        1
Colorado    6
Utah       11
New York   16

In [78]:
data[['one','two']] # il risultato è un frame con le doppie quadre

          one  two
Ohio        1    2
Colorado    6    7
Utah       11   12
New York   16   17

In [79]:
data

          zero  one  two  three  four
Ohio         0    1    2      3     4
Colorado     5    6    7      8     9
Utah        10   11   12     13    14
New York    15   16   17     18    19

In [86]:

#data.loc['Colorado':'Utah','one']# not equal to
data.iloc[1:2,1:] # iloc con gli indici implicito

          one  two  three  four
Colorado    6    7      8     9

In [87]:
data.loc[:,'one']

Ohio         1
Colorado     6
Utah        11
New York    16
Name: one, dtype: int32

In [90]:
#data[['three', 'two', 'one']] # equals to
# data.loc[:,['three', 'two', 'one']]
data.iloc[:,[2,1,0]]

          two  one  zero
Ohio        2    1     0
Colorado    7    6     5
Utah       12   11    10
New York   17   16    15

In [91]:
display( # sulle colonne
data['three'],
data[['three']],
data[['one', 'two']],
)

Ohio         3
Colorado     8
Utah        13
New York    18
Name: three, dtype: int32

          three
Ohio          3
Colorado      8
Utah         13
New York     18

          one  two
Ohio        1    2
Colorado    6    7
Utah       11   12
New York   16   17

In [ ]:
#SLICE
data.loc[:, 'two':] # or
#data.iloc[:, 2:]
# data['two':] is NOT working

#### row indexing

In [ ]:
data

In [ ]:
data[1:] # equals to 
# data.loc['Colorado':]
# data.iloc[1:]

In [ ]:
data[0:2] #--> [] by integer
# equals to 
# data.loc['Ohio':'Colorado']
# data.iloc[0:2]
# data['Ohio':'Colorado'] # --> [] by label

In [ ]:
data.loc['Colorado']
# data['Colorado'] # does not work >>> None of [Index(['Colorado'], dtype='object')] are in the [columns] <<< --> in [] single labels are only for columns
# data.iloc[1]

In [ ]:
data.loc[['Colorado']] 
# data['Colorado':'Colorado']
# data.iloc[[1]]

In [44]:
# Row and columns selection
# Examples
data.loc['Ohio':'Colorado', 'three'] # data.loc[[row], [col]] -> label
data.loc['Colorado', ['two', 'three']] # data
data.loc['Ohio':'Colorado', 'three':'four']
data.iloc[[1, 2], 1:2]
data.loc[:'Utah', 'two']
data.iloc[0:2, :] # data.iloc[[row], [col]] -> posizionale
data.iloc[2:3, [3, 0, 1]] # Utah, cols: four, one, two

      three  zero  one
Utah     13    10   11

Why use loc? Differences between [] and .loc[]

1.   using **.loc**, the execution time is more than 3X times faster!

2.   loc is explicit: df.loc[row_indexer, column_index] can select rows and columns.

 df[indexer] can only select rows or columns depending on the type of values in indexer and the type of column values df has (again, are they boolean?).

3.  When a slice is passed to **df.loc** the **end-points are included** in the range. When a slice is passed to **df[...]**, the slice is interpreted as a **half-open** interval:

```
x = pd.DataFrame(np.arange(9).reshape(3,3))
x.loc[1:2].index.values # [1,2]
x[1:2].index.values # [1]
```

#### Filtering

In [ ]:
data['three'] > 5

In [45]:
data

          zero  one  two  three  four
Ohio         0    1    2      3     4
Colorado     5    6    7      8     9
Utah        10   11   12     13    14
New York    15   16   17     18    19

In [ ]:
data[data['three'] > 5]
# data.loc[data['three'] > 5]
# data.iloc[data['three'] > 5] # NOT working >>> iLocation based boolean indexing cannot use an indexable as a mask

In [46]:
data >= 12

           zero    one    two  three   four
Ohio      False  False  False  False  False
Colorado  False  False  False  False  False
Utah      False  False   True   True   True
New York   True   True   True   True   True

In [ ]:
data[data >= 12]
# Does NOT work with loc & iloc

In [ ]:
data.iloc[:, :3][(data.three > 5) & (data['four'] <100)] # combination

#### Modify a DataFrame

In [ ]:
data_copy_reference = data
data_copy = data.copy()
data_view = data.iloc[2:,1:-1]

In [ ]:
data_copy_reference

In [ ]:
data_copy_reference[data_copy_reference >= 12] = 100
data_copy_reference

In [ ]:
data

In [ ]:
data_view

In [ ]:
data_copy

Columns can be modified by assignment.

In [ ]:
frame2

In [ ]:
frame2['debt'] = 16.5 
frame2
# 16.5 is **broadcasted** to [16.5, 16.5, ...] == [16.5] * frame2['debt'].shape[0]

When you are assigning lists or arrays to a column, the value’s length must match the length of the DataFrame.

In [ ]:
frame2['debt'] = [2,15.7,80,98,12,12]
frame2

In [ ]:
np.arange(6)

In [ ]:
frame2['debt'] = np.arange(6.)
frame2

In [ ]:
pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

## Essential Functionality

In [ ]:
pd.Series([1,2,3])

In [ ]:
pd.DataFrame({'a':[1,2,3], 'b':[1,2,3]})

### Dropping Entries from an Axis | .drop

*drop* method

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
obj.drop('c')

In [ ]:
obj

In [ ]:
new_obj = obj.drop('c')
new_obj

In [ ]:
obj

In [ ]:
obj.drop('c', inplace=True)
obj

In [ ]:
obj.drop(['d', 'a'])

In [ ]:
obj

In [ ]:
np.arange(20).reshape((4,5))

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index=['Ohio', 'Colorado', 'Utah', 'New York'])
data

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])#, inplace=False)

In [ ]:
# data.drop('two', axis=1)
data.drop(['two', 'four'], axis=1)

In [ ]:
data

### Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])


df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

#### Arithmetic methods with fill values

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))

In [ ]:
df1

In [ ]:
df2

In [ ]:
df2.loc[1, 'b'] = np.nan

In [ ]:
df2

In [ ]:
df1

In [ ]:
df1-df2

In [ ]:
df1.sub(df2, fill_value=0)

In [ ]:
1 / df1

In [ ]:
df1 / 1

In [ ]:
df2.columns

In [ ]:
df1

In [ ]:
df1.reindex(columns=df2.columns, fill_value=100)

#### Operations between DataFrame and Series

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr + 4

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
series = frame.iloc[0]
series

In [ ]:
frame - series

In [ ]:
frame.sub([0,1,2,4], axis='index')

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
series2

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']
series3

In [ ]:
frame

In [ ]:
frame + series3

In [ ]:
frame.add(series3, axis='index')

In [ ]:
frame - series3

In [ ]:
frame.sub(series3, axis='columns')

### Function Application and Mapping

- *apply*: Apply a function along an axis of the DataFrame
- applymap: Apply a function to a Dataframe elementwise. This method applies a function that accepts and returns a scalar to every element of a DataFrame

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
frame['b'].max()

In [ ]:
frame['b'].min()

In [ ]:
f = lambda x: x.max() - x.min()
f

In [ ]:
f(frame['b'])

In [ ]:
def diff_max_min(x): # x pd.Series
  return x.max() - x.min()

In [ ]:
frame

In [ ]:
frame.apply(lambda x: x.max() - x.min())

In [ ]:
frame.apply(diff_max_min)

In [ ]:
frame.apply(lambda x: x.max() * 100)

In [ ]:
def get_max(x):
  return x.max()

In [ ]:
frame

In [ ]:
frame.apply(get_max, axis='index')

In [ ]:
frame.apply(get_max, axis='columns')

In [ ]:
frame.apply(lambda x: x.max(), axis='columns')

In [ ]:
def f(x):
  return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f)

In [ ]:
'%.3f' % 10.2121212

In [ ]:
format = lambda x: '%.2f' % x

def get_power_2(x): # x valore
  return np.power(x, 2)

frame.applymap(format)

In [ ]:
frame.applymap(lambda x: '%.2f' % x)

In [ ]:
frame['e'].map(format)

## Summarizing and Computing Descriptive Statistics

### Describe

- describe
- sum or cumsum
- mean
- count
- value_counts

In [47]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [48]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [ ]:
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df

In [ ]:
df.max()

In [ ]:
df.idxmax()

In [ ]:
df.max()

In [ ]:
df.sum()

In [ ]:
df.cumsum()

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.info()

### Unique Values, Value Counts, and Membership

In [ ]:
obj = pd.Series(['c', 'a', 'c', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
obj.values

In [ ]:
pd.value_counts(obj.values, sort=True, ascending=True)

In [ ]:
obj

In [ ]:
obj.map(lambda x: x in ['c', 'a'])

In [ ]:
mask = obj.isin(['c', 'a'])

In [ ]:
mask

In [ ]:
obj[mask]

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts)data_copy_reference 
result

In [ ]:
pd.value_counts(data["Qu1"])

In [ ]:
data.apply(pd.value_counts, axis=1).fillna(0)