# Getting started with Pandas

1. Official Pandas tutorial (https://pandas.pydata.org/)
2. Pandas is one of the most used library for data science

In [1]:
import pandas as pd
import numpy as np


#Pandas has two main data structures:

1.Series

2.Dataframe

In [ ]:
from pandas import Series, DataFrame

## Introduction to pandas Data Structures

## Series
1. Sequence of values similar to numpy types
2. Associated to data labels

In [2]:
obj = pd.Series([4, 7, -5, 3])
obj
#la serie Ã¨ una collezione di elementi  che assomiglia ad un dict

0    4
1    7
2   -5
3    3
dtype: int64

- Left side represents the index (data labels)

- Right side represents the data

In [3]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [4]:
obj.index  # like range(4)

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

We can associate a label to each data point

In [6]:
obj[1]

7

In [7]:
obj[1]=4

In [8]:
obj[1]

4

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

In [ ]:
obj2.index

In [ ]:
obj2['d']

In [ ]:
obj2[0]

In [ ]:
obj2['a']

In [ ]:
obj2[2]

In [ ]:
obj2[:2]

In [ ]:
obj2[-3:]

In [ ]:
obj2['a':]

In [ ]:
obj2['a':'c']

In [ ]:
obj2['d':'c']

### Numpy-like operations
1. Filtering with a boolean array
2. Scalar multiplication
3. Applying math functions

They will preserve the index-value link

In [ ]:
obj2['d'] = 6
obj2

In [ ]:
obj2[['c', 'a', 'd','d','a']]

In [ ]:
obj2>2

In [ ]:
selezione = obj2[obj2 > 2]
selezione

### Math operations

Element wise casting 

Given $ X = \left[ x_1 \cdots x_n \right] $ then:<br> $ X * 2  = \left[ 2 x_1  \cdots 2{x_n} \right]
$
 <br> $
e^X = \left[ e^{x_1} \cdots e^{x_n} \right]
$

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

- Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping of index values to data values.
- You might use a dict.

In [ ]:
display(
  obj2.to_dict(),
  obj2.to_dict().keys(),
  obj2.to_dict().values())

# Recall obj2 = pd.Series([6, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [ ]:
'a' in obj2

In [ ]:
'f' in obj2

### Create a Series from a dictionary

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

In [ ]:
float_serie = obj3.astype('float')
float_serie

In [ ]:
obj3.dtype

In [ ]:
type(obj3)

In [ ]:
obj3['Ohio']

- The index in the resulting Series will have the dict's keys in sorted

- Force order of the index

In [ ]:
states = ['Ohio','California','Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

### Use alignment of indexes for some operations

In [ ]:
obj3

In [ ]:
obj4

In [ ]:
obj3 + obj4

In [ ]:
obj4.name = 'population'
obj4

In [ ]:
obj4.index.name = 'state'

In [ ]:
obj4

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

In [ ]:
obj10 = pd.Series([4,7,-5,3], index = ['Bob', 'Steve', 'Jeff', 'Ryan'])
obj10

## DataFrame
1. Represent a rectangular table
2. Ordered collection of columns
3. Each column could have a different type (i.e., numeric, string, boolean, etc.)
4. Dataframe has indexes on columns and rows

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame

The head method selects only the first five rows (good for large datasets)

In [ ]:
frame.shape

In [ ]:
frame.head(3) # default: 5

In [ ]:
frame.tail(3)

In [ ]:
frame.sample(3) # default: 1

In [ ]:
frame.columns

In [ ]:
frame.index.values

If you specify a sequence of columns, the DataFrameâs columns will be arranged in that order

In [ ]:
matrix = np.arange(4).reshape(2,-1)
matrix

In [ ]:
table = pd.DataFrame(matrix, columns=['col1', 'col2'], index=['row1', 'row2'])
table

In [ ]:
data

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2

In [ ]:
dato = np.array([[1,2,3],[4,5,6]])
dato

In [ ]:
frame = pd.DataFrame(dato, columns=['a','s','k'])
frame

In [ ]:
frame.columns

In [ ]:
frame2.columns

A column in a DataFrame can be retrieved as a Series either by dict-like notation or by attribute

In [ ]:
frame2['state']

In [ ]:
type(frame2['state'])

In [ ]:
type(frame2)

In [ ]:
frame2.state

In [ ]:
display(
  frame2.year, '---',
  frame2['year'])

Rows can also be retrieved by position or name with the special loc attribute

In [ ]:
frame2

In [ ]:
frame2['year'][0] # or frame2.year[0]

In [ ]:
frame2.loc['three'] # NOT work frame2['three'] --> [] takes strings only as columns

In [ ]:
type(frame2.loc['three'])

In [ ]:
frame

### Indexing, Selection, and Filtering

- *loc*: Access a group of rows and columns by label(s) or a boolean array.
- *iloc*: Purely integer-location based rows and columns indexing for selection by position.
- [...]: Access rows by integer or labels, or access columns with labels(no slice for columns in [...]).

columns can be always omitted.

In [ ]:
data = pd.DataFrame(np.arange(20).reshape((4, 5)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['zero', 'one', 'two', 'three', 'four'])
data

In [ ]:
data[0:1]

In [ ]:
data.loc['Ohio':'Colorado',"two"]

#### columns indexing

In [ ]:
data[0:1]

In [ ]:
data[['one','two']]

In [ ]:
data

In [ ]:

data.loc['Colorado':'Utah','one']# equal to 
#data.iloc[1:2,1:]

In [ ]:
data.loc[:,'one']

In [ ]:
data[['three', 'two', 'one']] # equals to 
# data.loc[:,['three', 'two', 'one']] 
# data.iloc[:,[2,1,0]]

In [ ]:
display( # sulle colonne
data['three'],
data[['three']],
data[['one', 'two']],
)

In [ ]:
#SLICE
data.loc[:, 'two':] # or
#data.iloc[:, 2:]
# data['two':] is NOT working

#### row indexing

In [ ]:
data

In [ ]:
data[1:] # equals to 
# data.loc['Colorado':]
# data.iloc[1:]

In [ ]:
data[0:2] #--> [] by integer
# equals to 
# data.loc['Ohio':'Colorado']
# data.iloc[0:2]
# data['Ohio':'Colorado'] # --> [] by label

In [ ]:
data.loc['Colorado']
# data['Colorado'] # does not work >>> None of [Index(['Colorado'], dtype='object')] are in the [columns] <<< --> in [] single labels are only for columns
# data.iloc[1]

In [ ]:
data.loc[['Colorado']] 
# data['Colorado':'Colorado']
# data.iloc[[1]]

In [ ]:
# Row and columns selection
# Examples
data.loc['Ohio':'Colorado', 'three'] # data.loc[[row], [col]] -> label
data.loc['Colorado', ['two', 'three']] # data
data.loc['Ohio':'Colorado', 'three':'four']
data.iloc[[1, 2], 1:2]
data.loc[:'Utah', 'two']
data.iloc[0:2, :] # data.iloc[[row], [col]] -> posizionale
data.iloc[2:3, [3, 0, 1]] # Utah, cols: four, one, two

Why use loc? Differences between [] and .loc[]

1.   using **.loc**, the execution time is more than 3X times faster!

2.   loc is explicit: df.loc[row_indexer, column_index] can select rows and columns.

 df[indexer] can only select rows or columns depending on the type of values in indexer and the type of column values df has (again, are they boolean?).

3.  When a slice is passed to **df.loc** the **end-points are included** in the range. When a slice is passed to **df[...]**, the slice is interpreted as a **half-open** interval:

```
x = pd.DataFrame(np.arange(9).reshape(3,3))
x.loc[1:2].index.values # [1,2]
x[1:2].index.values # [1]
```

#### Filtering

In [ ]:
data['three'] > 5

In [ ]:
data

In [ ]:
data[data['three'] > 5]
# data.loc[data['three'] > 5]
# data.iloc[data['three'] > 5] # NOT working >>> iLocation based boolean indexing cannot use an indexable as a mask

In [ ]:
data >= 12

In [ ]:
data[data >= 12]
# Does NOT work with loc & iloc

In [ ]:
data.iloc[:, :3][(data.three > 5) & (data['four'] <100)] # combination

#### Modify a DataFrame

In [ ]:
data_copy_reference = data
data_copy = data.copy()
data_view = data.iloc[2:,1:-1]

In [ ]:
data_copy_reference

In [ ]:
data_copy_reference[data_copy_reference >= 12] = 100
data_copy_reference

In [ ]:
data

In [ ]:
data_view

In [ ]:
data_copy

Columns can be modified by assignment.

In [ ]:
frame2

In [ ]:
frame2['debt'] = 16.5 
frame2
# 16.5 is **broadcasted** to [16.5, 16.5, ...] == [16.5] * frame2['debt'].shape[0]

When you are assigning lists or arrays to a column, the valueâs length must match the length of the DataFrame.

In [ ]:
frame2['debt'] = [2,15.7,80,98,12,12]
frame2

In [ ]:
np.arange(6)

In [ ]:
frame2['debt'] = np.arange(6.)
frame2

In [ ]:
pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

## Essential Functionality

In [ ]:
pd.Series([1,2,3])

In [ ]:
pd.DataFrame({'a':[1,2,3], 'b':[1,2,3]})

### Dropping Entries from an Axis | .drop

*drop* method

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
obj.drop('c')

In [ ]:
obj

In [ ]:
new_obj = obj.drop('c')
new_obj

In [ ]:
obj

In [ ]:
obj.drop('c', inplace=True)
obj

In [ ]:
obj.drop(['d', 'a'])

In [ ]:
obj

In [ ]:
np.arange(20).reshape((4,5))

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index=['Ohio', 'Colorado', 'Utah', 'New York'])
data

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])#, inplace=False)

In [ ]:
# data.drop('two', axis=1)
data.drop(['two', 'four'], axis=1)

In [ ]:
data

### Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])


df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

#### Arithmetic methods with fill values

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))

In [ ]:
df1

In [ ]:
df2

In [ ]:
df2.loc[1, 'b'] = np.nan

In [ ]:
df2

In [ ]:
df1

In [ ]:
df1-df2

In [ ]:
df1.sub(df2, fill_value=0)

In [ ]:
1 / df1

In [ ]:
df1 / 1

In [ ]:
df2.columns

In [ ]:
df1

In [ ]:
df1.reindex(columns=df2.columns, fill_value=100)

#### Operations between DataFrame and Series

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr + 4

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
series = frame.iloc[0]
series

In [ ]:
frame - series

In [ ]:
frame.sub([0,1,2,4], axis='index')

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
series2

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']
series3

In [ ]:
frame

In [ ]:
frame + series3

In [ ]:
frame.add(series3, axis='index')

In [ ]:
frame - series3

In [ ]:
frame.sub(series3, axis='columns')

### Function Application and Mapping

- *apply*: Apply a function along an axis of the DataFrame
- applymap: Apply a function to a Dataframe elementwise. This method applies a function that accepts and returns a scalar to every element of a DataFrame

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
frame['b'].max()

In [ ]:
frame['b'].min()

In [ ]:
f = lambda x: x.max() - x.min()
f

In [ ]:
f(frame['b'])

In [ ]:
def diff_max_min(x): # x pd.Series
  return x.max() - x.min()

In [ ]:
frame

In [ ]:
frame.apply(lambda x: x.max() - x.min())

In [ ]:
frame.apply(diff_max_min)

In [ ]:
frame.apply(lambda x: x.max() * 100)

In [ ]:
def get_max(x):
  return x.max()

In [ ]:
frame

In [ ]:
frame.apply(get_max, axis='index')

In [ ]:
frame.apply(get_max, axis='columns')

In [ ]:
frame.apply(lambda x: x.max(), axis='columns')

In [ ]:
def f(x):
  return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f)

In [ ]:
'%.3f' % 10.2121212

In [ ]:
format = lambda x: '%.2f' % x

def get_power_2(x): # x valore
  return np.power(x, 2)

frame.applymap(format)

In [ ]:
frame.applymap(lambda x: '%.2f' % x)

In [ ]:
frame['e'].map(format)

## Summarizing and Computing Descriptive Statistics

### Describe

- describe
- sum or cumsum
- mean
- count
- value_counts

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df

In [ ]:
df.max()

In [ ]:
df.idxmax()

In [ ]:
df.max()

In [ ]:
df.sum()

In [ ]:
df.cumsum()

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.info()

### Unique Values, Value Counts, and Membership

In [ ]:
obj = pd.Series(['c', 'a', 'c', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
obj.values

In [ ]:
pd.value_counts(obj.values, sort=True, ascending=True)

In [ ]:
obj

In [ ]:
obj.map(lambda x: x in ['c', 'a'])

In [ ]:
mask = obj.isin(['c', 'a'])

In [ ]:
mask

In [ ]:
obj[mask]

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts)data_copy_reference 
result

In [ ]:
pd.value_counts(data["Qu1"])

In [ ]:
data.apply(pd.value_counts, axis=1).fillna(0)