# Esercizio
1. Creare un dataframe che contenga i valori di iris
2. Creare due nuovi attributi che rappresentano l'area del petalo e del sepalo. Calcolare l'accuratezza con una divisione train /test 0.75/0.25 e un Decision Tree Classifier
3. Creare una discretizzazione dei valori in 4 bin (per ogni colonna del dataset), sostituire al dataset iniziale e calcolare l'accuratezza
4. Standardizzare il dataset del punto 2 e calcolare l'accuratezza con il classificatore di prima 
5. Applicare il logaritmo (trasformazione custom) a tutte le colonne del dataset del punto 2 e calcolare l'accuratezza con il classificatore di prima 
6. Creare una nuova colonna che abbia valore 1 se e solo se l'area del petalo e l'area del sepalo hanno entrambe valore superiore a 4 e calcolare l'accuratezza con il classificatore di prima

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn as sk
from sklearn import datasets

In [5]:
def accuracy(pred, result):
  return 1-(abs(pred-result)).sum()/len(result)

In [6]:
iris = datasets.load_iris()

In [7]:
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [9]:
X = iris.data
y = iris.target # target value

In [10]:
df = pd.DataFrame(X, columns=iris['feature_names']) # crea il df dove sul nome delle colonne mette le features

In [11]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.25) # qua si poteva evitare di mettere la specifica nel test_size perché il 0.25 é di defalut

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
model = DecisionTreeClassifier()

In [15]:
model.fit(X_train, y_train)
result = model.predict(X_test)

In [16]:
accuracy(y_test, result)

0.9473684210526316

In [17]:
accuracy(y_train, model.predict(X_train) )

1.0

## Creare due nuovi attributi che rappresentano l'area del petalo e del sepalo

In [18]:
df['areaSep'] = df['sepal length (cm)'] *df['sepal width (cm)']
df['areaPet'] = df['petal length (cm)'] * df['petal length (cm)']

In [19]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),areaSep,areaPet
0,5.1,3.5,1.4,0.2,17.85,1.96
1,4.9,3.0,1.4,0.2,14.70,1.96
2,4.7,3.2,1.3,0.2,15.04,1.69
3,4.6,3.1,1.5,0.2,14.26,2.25
4,5.0,3.6,1.4,0.2,18.00,1.96
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,20.10,27.04
146,6.3,2.5,5.0,1.9,15.75,25.00
147,6.5,3.0,5.2,2.0,19.50,27.04
148,6.2,3.4,5.4,2.3,21.08,29.16
149,5.9,3.0,5.1,1.8,17.70,26.01

In [20]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.25)

In [21]:
model.fit(X_train, y_train)
result = model.predict(X_test)
accuracy(y_test, result)

0.9473684210526316

In [22]:
accuracy(y_train, model.predict(X_train))

1.0

## Creare una discretizzazione dei valori in 4 bin

In [23]:
from sklearn import preprocessing

In [24]:
kb= preprocessing.KBinsDiscretizer(n_bins=4, encode='ordinal').fit(df)

In [25]:
dfd = pd.DataFrame(kb.transform(df), columns= df.columns) # con il nome delle colonne

In [26]:
dfd.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),areaSep,areaPet
0,1.0,3.0,0.0,0.0,2.0,0.0
1,0.0,2.0,0.0,0.0,0.0,0.0
2,0.0,2.0,0.0,0.0,0.0,0.0
3,0.0,2.0,0.0,0.0,0.0,0.0
4,0.0,3.0,0.0,0.0,2.0,0.0

In [27]:
X_train, X_test, y_train, y_test = train_test_split(dfd, y, test_size=0.25)

In [28]:
model.fit(X_train, y_train)
result = model.predict(X_test)
accuracy(y_test, result)

0.9736842105263158

In [29]:
accuracy(y_train, model.predict(X_train)) # fa meno overfitting

0.9732142857142857

## Standardizzare il dataset del punto 2 e calcolare l'accuratezza con il classificatore di prima

In [30]:
sss = preprocessing.StandardScaler()

In [31]:
scaler = sss.fit(df)

In [32]:
dfs = scaler.transform(df)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(dfs, y, test_size=0.25)

In [34]:
model.fit(X_train, y_train)
result = model.predict(X_test)
accuracy(y_test, result)

0.9736842105263158

In [35]:
accuracy(y_train, model.predict(X_train))

1.0

## Applicare il logaritmo (trasformazione custom) a tutte le colonne del dataset del punto 2 e calcolare l'accuratezza con il classificatore di prima

In [39]:
from sklearn.preprocessing import  FunctionTransformer
trasformer = FunctionTransformer(np.log,validate=True,feature_names_out='one-to-one')
df_log = trasformer.transform(df)

/Users/rdm-nico/PycharmProjects/pythonProject/venv/lib/python3.9/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but FunctionTransformer was fitted without feature names
  warnings.warn(

In [40]:
X_train, X_test, y_train, y_test = train_test_split(df_log, y, test_size=0.25)

In [41]:
model.fit(X_train, y_train)
result = model.predict(X_test)
accuracy(y_test, result)

0.9473684210526316

In [42]:
accuracy(y_train, model.predict(X_train))

1.0

## Creare una nuova colonna che abbia valore 1 se e solo se l'area del petalo e l'area del sepalo hanno entrambe valore superiore a 4 e calcolare l'accuratezza con il classificatore di prima