# 1
Inserire nuove features nel dataset che rappresentino:
- escursione termica gionarliera (MaxTemp-MinTemp)
- differenza di unimidità (Humidity3pm- Humidity 9am)
- vento medio (WindSpeed3pm,WindSpeed9am)

Eliminare l'attributo Location e trasformare gli attributi booleani in numerici. Dividere il dataset in train e test (20%). Calcolare che accuratezza si ottiene con un modello randomForest (100 alberi) e confrontarla con un dummyClassifier (strategia stratified)

In [49]:
import pandas as pd
import numpy as np

df = pd.read_csv("Data/weather.csv",sep=";")
df

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No
1,1,Albury,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,No,Yes
2,1,Albury,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,Yes,Yes
3,1,Albury,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,Yes,Yes
4,1,Albury,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,Uluru,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2,26.0,33.5,Yes,No
14464,12,Uluru,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,-1,29.7,34.0,No,No
14465,12,Uluru,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,-1,28.7,36.4,No,No
14466,12,Uluru,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,-1,28.2,35.1,No,No
14467,12,Uluru,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,-1,30.1,31.5,No,No

aggiungiamo le colonne:

In [50]:
df['Escursione_Giornaliera'] = df['MaxTemp'] - df['MinTemp']
df['Diff_umidità'] = df['Humidity3pm'] - df['Humidity9am']
df['Vento_medio'] = (df['WindSpeed3pm'] + df['WindSpeed9am'])/2
df

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Escursione_Giornaliera,Diff_umidità,Vento_medio
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No,17.2,-29,3.5
1,1,Albury,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,No,Yes,12.7,-24,13.0
2,1,Albury,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,Yes,Yes,4.7,5,25.0
3,1,Albury,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,Yes,Yes,6.4,-9,13.0
4,1,Albury,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,Yes,No,7.4,-29,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,Uluru,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2,26.0,33.5,Yes,No,13.7,-36,24.0
14464,12,Uluru,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,-1,29.7,34.0,No,No,14.2,-24,22.5
14465,12,Uluru,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,-1,28.7,36.4,No,No,14.8,-11,17.0
14466,12,Uluru,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,-1,28.2,35.1,No,No,17.3,-7,14.0
14467,12,Uluru,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,-1,30.1,31.5,No,No,9.3,-2,20.5

In [51]:
df = df.drop('Location',axis=1)
df

,Month,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Escursione_Giornaliera,Diff_umidità,Vento_medio
0,1,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No,17.2,-29,3.5
1,1,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,No,Yes,12.7,-24,13.0
2,1,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,Yes,Yes,4.7,5,25.0
3,1,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,Yes,Yes,6.4,-9,13.0
4,1,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,Yes,No,7.4,-29,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2,26.0,33.5,Yes,No,13.7,-36,24.0
14464,12,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,-1,29.7,34.0,No,No,14.2,-24,22.5
14465,12,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,-1,28.7,36.4,No,No,14.8,-11,17.0
14466,12,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,-1,28.2,35.1,No,No,17.3,-7,14.0
14467,12,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,-1,30.1,31.5,No,No,9.3,-2,20.5

In [52]:
from sklearn.preprocessing import LabelEncoder
y = df['RainTomorrow']
df = df.drop('RainTomorrow',axis=1)

lb = LabelEncoder()
y = lb.fit_transform(y)
y

array([0, 1, 1, ..., 0, 0, 0])

In [53]:
lb = LabelEncoder()
df['RainToday'] = lb.fit_transform(df['RainToday'])
df

,Month,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,Escursione_Giornaliera,Diff_umidità,Vento_medio
0,1,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,0,17.2,-29,3.5
1,1,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,0,12.7,-24,13.0
2,1,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,1,4.7,5,25.0
3,1,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,1,6.4,-9,13.0
4,1,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,1,7.4,-29,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2,26.0,33.5,1,13.7,-36,24.0
14464,12,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,-1,29.7,34.0,0,14.2,-24,22.5
14465,12,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,-1,28.7,36.4,0,14.8,-11,17.0
14466,12,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,-1,28.2,35.1,0,17.3,-7,14.0
14467,12,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,-1,30.1,31.5,0,9.3,-2,20.5

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2,random_state=0)

model = RandomForestClassifier(n_estimators=100)
dummy_model = DummyClassifier(strategy='stratified')

model.fit(X_train,y_train)
pred = model.predict(X_test)

dummy_model.fit(X_train,y_train)
dummy_pred = model.predict(X_test)

score = accuracy_score(y_test,pred)
dummy_score = accuracy_score(y_test,dummy_pred)

print('accuracy RF:',score)
print('accuracy dummy:',dummy_score)

accuracy RF: 0.8469246717346234
accuracy dummy: 0.8469246717346234

# 2 Verificare se i risultati migliorano dopo avere scalato i valori tra 0 e 1 e normalizzato con Normalizer
Per scalare da 0 a 1 si usa il MinMax_Scaler

In [55]:
from sklearn.preprocessing import MinMaxScaler,Normalizer
scaler = MinMaxScaler(feature_range=(0,1))
normalize = Normalizer()
X = scaler.fit_transform(df)
X = normalize.fit_transform(X)
X

array([[0.        , 0.34350798, 0.37499499, ..., 0.26563098, 0.15066763,
        0.02556784],
       [0.        , 0.33334099, 0.31373087, ..., 0.18672468, 0.15647906,
        0.09041013],
       [0.        , 0.27491343, 0.18232416, ..., 0.06295194, 0.21145027,
        0.15838972],
       ...,
       [0.42544701, 0.35188269, 0.35086247, ..., 0.21129583, 0.18486686,
        0.11480316],
       [0.43013366, 0.31237372, 0.34410693, ..., 0.24970847, 0.19714459,
        0.09558526],
       [0.42528059, 0.357873  , 0.29822145, ..., 0.13272179, 0.20757743,
        0.13838495]])

e rifaccio

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0)

model = RandomForestClassifier(n_estimators=100)
dummy_model = DummyClassifier(strategy='stratified')

model.fit(X_train,y_train)
pred = model.predict(X_test)

dummy_model.fit(X_train,y_train)
dummy_pred = model.predict(X_test)

score = accuracy_score(y_test,pred)
dummy_score = accuracy_score(y_test,dummy_pred)

print('accuracy RF:',score)
print('accuracy dummy:',dummy_score)

accuracy RF: 0.8403593642017968
accuracy dummy: 0.8403593642017968

# 3 Nel dataset originale, il valore -1 per l'attributo Cloud3pm rappresenta un errore. Occorre individuare le istanze che assumono quel valore, usare il modello randomforest per stimare il valore di Cloud3pm. Sostituire il valore predetto a -1 e rieseguire tutte le normalizzazioni del punto precedente e valutare se si introduce un miglioramento. Valutare cosa succede se invece di effettuare la sostituzione dei valori si eliminano le istanze non corrette

In [57]:
df

,Month,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,Escursione_Giornaliera,Diff_umidità,Vento_medio
0,1,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,0,17.2,-29,3.5
1,1,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,0,12.7,-24,13.0
2,1,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,1,4.7,5,25.0
3,1,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,1,6.4,-9,13.0
4,1,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,1,7.4,-29,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2,26.0,33.5,1,13.7,-36,24.0
14464,12,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,-1,29.7,34.0,0,14.2,-24,22.5
14465,12,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,-1,28.7,36.4,0,14.8,-11,17.0
14466,12,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,-1,28.2,35.1,0,17.3,-7,14.0
14467,12,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,-1,30.1,31.5,0,9.3,-2,20.5

In [58]:
df_with_Tomorrow = df.copy()
df_with_Tomorrow['RainTomorrow'] = y
df_with_Tomorrow

,Month,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,Escursione_Giornaliera,Diff_umidità,Vento_medio,RainTomorrow
0,1,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,0,17.2,-29,3.5,0
1,1,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,0,12.7,-24,13.0,1
2,1,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,1,4.7,5,25.0,1
3,1,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,1,6.4,-9,13.0,1
4,1,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,1,7.4,-29,7.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2,26.0,33.5,1,13.7,-36,24.0,0
14464,12,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,-1,29.7,34.0,0,14.2,-24,22.5,0
14465,12,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,-1,28.7,36.4,0,14.8,-11,17.0,0
14466,12,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,-1,28.2,35.1,0,17.3,-7,14.0,0
14467,12,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,-1,30.1,31.5,0,9.3,-2,20.5,0

In [59]:
y_cloud = df_with_Tomorrow['Cloud3pm'] == -1
df_no_cloud = df_with_Tomorrow.drop('Cloud3pm',axis=1)
df_no_cloud

,Month,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,Escursione_Giornaliera,Diff_umidità,Vento_medio,RainTomorrow
0,1,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,26.1,36.7,0,17.2,-29,3.5,0
1,1,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,24.8,31.7,0,12.7,-24,13.0,1
2,1,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,21.8,19.5,1,4.7,5,25.0,1
3,1,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,19.2,21.6,1,6.4,-9,13.0,1
4,1,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,17.2,22.2,1,7.4,-29,7.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,26.0,33.5,1,13.7,-36,24.0,0
14464,12,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,29.7,34.0,0,14.2,-24,22.5,0
14465,12,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,28.7,36.4,0,14.8,-11,17.0,0
14466,12,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,28.2,35.1,0,17.3,-7,14.0,0
14467,12,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,30.1,31.5,0,9.3,-2,20.5,0

In [60]:
y_cloud = lb.fit_transform(y_cloud)
y_cloud

array([0, 0, 0, ..., 1, 1, 1])

In [61]:
X_train, X_test, y_train, y_test = train_test_split(df_no_cloud,y_cloud, test_size=0.2,random_state=0)

model = RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)
pred = model.predict(X_test)
score = accuracy_score(y_test,pred)
score

0.6606772633033863

Poi sostituiamo il valore predetto con -1

In [62]:
#from sklearn.impute import SimpleImputer
#imputer = SimpleImputer(missing_values=-1,fill_value=score)
#imputer

In [63]:
df_replaced = df.replace(-1,score)
df_replaced

,Month,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,Escursione_Giornaliera,Diff_umidità,Vento_medio
0,1,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3.000000,26.1,36.7,0,17.2,-29.0,3.5
1,1,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8.000000,24.8,31.7,0,12.7,-24.0,13.0
2,1,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8.000000,21.8,19.5,1,4.7,5.0,25.0
3,1,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8.000000,19.2,21.6,1,6.4,-9.0,13.0
4,1,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8.000000,17.2,22.2,1,7.4,-29.0,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14463,12,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2.000000,26.0,33.5,1,13.7,-36.0,24.0
14464,12,22.6,36.8,0.0,50,30,15,63,39,1000.0,998.8,0.660677,29.7,34.0,0,14.2,-24.0,22.5
14465,12,23.2,38.0,0.0,33,17,17,25,14,1004.4,1001.0,0.660677,28.7,36.4,0,14.8,-11.0,17.0
14466,12,19.7,37.0,0.0,37,22,6,30,23,1004.6,1000.9,0.660677,28.2,35.1,0,17.3,-7.0,14.0
14467,12,23.7,33.0,0.0,46,24,17,40,38,1005.1,1002.7,0.660677,30.1,31.5,0,9.3,-2.0,20.5

In [64]:
#df_imputer = imputer.fit_transform(df)
#df_imputer

In [65]:
scaler = MinMaxScaler(feature_range=(0,1))
normalize = Normalizer()
X = scaler.fit_transform(df_replaced)
X = normalize.fit_transform(X)
X

array([[0.        , 0.34560004, 0.37727881, ..., 0.26724875, 0.15158524,
        0.02572356],
       [0.        , 0.33334369, 0.3137334 , ..., 0.18672619, 0.15648033,
        0.09041086],
       [0.        , 0.27491486, 0.18232511, ..., 0.06295227, 0.21145137,
        0.15839054],
       ...,
       [0.42518871, 0.35166905, 0.35064946, ..., 0.21116755, 0.18475462,
        0.11473346],
       [0.42986675, 0.31217988, 0.3438934 , ..., 0.24955351, 0.19702226,
        0.09552594],
       [0.4250224 , 0.35765574, 0.2980404 , ..., 0.13264122, 0.20745141,
        0.13830094]])

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0)

model = RandomForestClassifier(n_estimators=100)
dummy_model = DummyClassifier(strategy='stratified')

model.fit(X_train,y_train)
pred = model.predict(X_test)

dummy_model.fit(X_train,y_train)
dummy_pred = model.predict(X_test)

score = accuracy_score(y_test,pred)
dummy_score = accuracy_score(y_test,dummy_pred)

print('accuracy RF:',score)
print('accuracy dummy:',dummy_score)

accuracy RF: 0.8424326192121631
accuracy dummy: 0.8424326192121631

In [67]:
df.loc[(df.Cloud3pm == -1)].index

Int64Index([    9,    11,    12,    14,    15,    17,    23,    29,    34,
               35,
            ...
            14449, 14453, 14454, 14455, 14456, 14457, 14464, 14465, 14466,
            14467],
           dtype='int64', length=6124)

In [68]:
df_eliminated = df.drop(df.loc[(df.Cloud3pm == -1)].index)
df_eliminated

,Month,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,Escursione_Giornaliera,Diff_umidità,Vento_medio
0,1,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,0,17.2,-29,3.5
1,1,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,0,12.7,-24,13.0
2,1,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,1,4.7,5,25.0
3,1,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,1,6.4,-9,13.0
4,1,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,1,7.4,-29,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14459,12,24.8,32.6,0.0,44,20,11,59,57,1007.5,1004.0,8,28.2,30.0,0,7.8,-2,15.5
14460,12,22.9,29.9,21.8,35,13,19,85,58,1008.8,1005.1,6,24.6,29.3,1,7.0,-27,16.0
14461,12,22.8,29.5,9.2,54,19,26,96,75,1005.5,1001.1,8,24.3,28.0,1,6.7,-21,22.5
14462,12,22.1,27.4,83.8,72,31,43,100,100,994.6,989.2,8,22.2,24.2,1,5.3,0,37.0
14463,12,22.1,35.8,63.8,43,17,31,77,41,997.8,995.2,2,26.0,33.5,1,13.7,-36,24.0

In [69]:
y_delete = np.delete(y,df.loc[(df.Cloud3pm == -1)].index)
len(y_delete)

8344

In [71]:
scaler = MinMaxScaler(feature_range=(0,1))
normalize = Normalizer()
X = scaler.fit_transform(df_eliminated)
X = normalize.fit_transform(X)
len(X)

8344

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y_delete, test_size=0.2,random_state=0)

model = RandomForestClassifier(n_estimators=100)
dummy_model = DummyClassifier(strategy='stratified')

model.fit(X_train,y_train)
pred = model.predict(X_test)

dummy_model.fit(X_train,y_train)
dummy_pred = model.predict(X_test)

score = accuracy_score(y_test,pred)
dummy_score = accuracy_score(y_test,dummy_pred)

print('accuracy RF:',score)
print('accuracy dummy:',dummy_score)

accuracy RF: 0.8400239664469742
accuracy dummy: 0.8400239664469742

# 4 Realizzare una pipeline che effettui il punto 2 dell'esercizio
Proviamo con il Feature_Union

In [73]:
from sklearn.pipeline import FeatureUnion

scaler = MinMaxScaler(feature_range=(0,1))

normalize = Normalizer()

combine_features = FeatureUnion([('scale',scaler), ('norma',normalize)])
combine_features

FeatureUnion(transformer_list=[('scale', MinMaxScaler()),
                               ('norma', Normalizer())])

In [75]:
from sklearn.pipeline import Pipeline

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2,random_state=0)

my_pipeline = Pipeline(steps=[('combined_features',combine_features),('model',model)],verbose=True)

my_pipeline.fit(X_train,y_train)

preds = my_pipeline.predict(X_test)

score = accuracy_score(y_test,preds)

print('accuracy RF:',score)

[Pipeline] . (step 1 of 2) Processing combined_features, total=   0.0s
[Pipeline] ............. (step 2 of 2) Processing model, total=   6.0s
accuracy RF: 0.8458880442294402